/* custom.css */

.markdown-font {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.footer {
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 12px;
    color: #003049;
    font-weight: normal;
}
